<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{= it.document.description || ""}}">
    <meta name="author" content="Daniel Larsen">
    <meta name="x-dlnz-blog-page-version" content="{{= new Date().toString() }}">
    <meta name="x-dlnz-blog-page-template" content="{{= it.document.template }}">

    <title>{{= it.document.title || "Dan's blog"}} - Daniel Larsen NZ</title>

    {{=it.include("head-css")}}

    {{=it.include("head-scripts")}}
  </head>
  <body>
    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="/index.html">Home</a>
          <!--<a class="blog-nav-item" href="/about.html">About</a>-->
          <!--<a class="blog-nav-item" href="/contact.html">Contact</a>-->
        </nav>
      </div>
    </div>

    <div class="container">
      <div class="blog-header">
        <h1 class="blog-title">@DanielLarsenNZ</h1>
        <p class="lead blog-description">Technology and Software Blog.</p>
      </div>
 
      <div class="row">
        <div class="col-sm-8 blog-main">
          <div class="blog-post">
            {{= it.document }}
          </div>
          <!-- 
          <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>
          -->
        </div>

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          {{= it.include("about-sidebar")}}

          {{= it.include("posts-sidebar")}}

          <div class="sidebar-module">
            <h4>More</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/DanielLarsenNZ">GitHub</a></li>
              <li><a href="https://twitter.com/DanielLarsenNZ">Twitter</a></li>
              <li><a href="https://nz.linkedin.com/in/daniellarsennz/">Linked In</a></li>
              <li><a href="https://www.flickr.com/photos/danlar/">Flickr</a></li>
            </ol>
          </div>
        </div>

      </div>
    </div>

    <footer class="blog-footer">
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.<p>
        <a href="#">Back to top</a>
      </p>
    </footer>

    {{=it.include("footer-scripts")}}
  </body>
</html>
